@tailwind base;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
  h1, h2, h3 {
    @apply mt-5 mb-3;
  }
  h4, h5, h6 {
    @apply my-3;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  a {
    @apply text-blue-400 hover:underline;
  }
  p {
    @apply mb-4 leading-normal;
  }
  hr {
    @apply my-5 border-gray-300;
  }
  strong, em {
    @apply text-sm;
  }
  ul, ol {
    @apply mb-3 pl-10;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  blockquote {
    @apply border-l-4 border-gray-300 py-3 px-5 mb-5;
  }
  pre, code {
    @apply font-sourceCode;
  }
  code {
    @apply bg-neutral-700 text-neutral-100 px-1 py-[2px] rounded-sm;
    font-size: 90%;
  }
  pre {
    @apply bg-neutral-800 mb-4 p-4 overflow-auto rounded-md leading-normal
    ;
  }
  pre code {
    @apply bg-transparent p-0 whitespace-pre break-normal overflow-visible;
    font-size: 100%;
    word-wrap: normal;
  }
  table {
    @apply mb-5 w-full;
  }
  th, td {
    @apply p-2 border-b-gray-400;
  }
  th {
    @apply border-b-2;
  }
  td {
    @apply border-b;
  }
}

@tailwind components;
@tailwind utilities;

